.video-materi {
	padding: 10px !important;
	box-sizing: border-box;
}

.video-materi video {
	width: 100%;
	height: 40vh;
}

.video-about {
	padding: 10px !important;
	box-sizing: border-box;
}

.video-about video {
	width: 100%;
	height: 40vh;
}

.imgt img {
	width: 100%;
	height: 30vh;
}